<h1><%= "Welcome, #{current_user.name}" %></h1>
<br>
<h3> Here are the recipients you have bought presents for:</h3>
<% @recipients.each do |recipient|%>
<h4><%=recipient.name %></h4>
<% recipient.presents.each do |present|%>
<h5><%= link_to present.name, user_present_path(current_user, present) %></h5>
<%end%>
<%end%>

