Welcome to Christmas List!<br>
<div> 
 An application of good will. Every child deserves to feel the magic of Christmas.<br>
 This year has been especially difficult for many families. By giving a gift to a child in need <br>
 this holiday season you are helping families worry less and enjoy more. Thank you.<br>
 </div>
 <br>
 <div>
 Not a member, please:
    <%= link_to "Sign Up", new_user_path%>
  </div>
  <div>
Already a member:
    <%= link_to "Log In", login_path %>
  </div>
 