<h1><%= "Welcome, #{current_user.name}" %></h1>
<br>
<h2> Children on the nice list:</h2>
<% @recipients.each do |recipient|%>
    <h2><%= link_to recipient.name, recipient_path(recipient) %></h2>
        Presents already bought for this child:
    <% recipient.presents.each do |p|%>
        <h3><%= p.name %></h3>
    <%end%>
<%end%>

<%= link_to "Add a child to the nice list", new_recipient_path%>
